{% extends 'base.html'%}

{% block conteudo%}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <h1 class="display-1">Olá {{usuario.nome}}!</h1>
        </div>

        <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, aliquid repudiandae doloremque perspiciatis illo reprehenderit officia velit, quod iure consequatur officiis temporibus nesciunt nihil porro impedit eum rerum eligendi magni!
        </div>
    </div>
</div>
{% endblock%}